<style>
    /* CSS styles for article */
    article{
    	padding: 20px;
    	margin: 20px auto;
    	max-width: 800px;
    	font-family: Arial, sans-serif;
    	line-height: 1.6;
    }
    /* CSS styles for header */
    header { 
        background-color: lightcyan;
        color: #skyblues;
        padding: 20px;
        text-align: center;
    }

    /* CSS styles for paragraphs */
    p {
 	 font-size: 16px;
 	 line-height: 1.6;
 	 color: #444;
 	 text-align: justify;
    }
    /* CSS styles for images */
    img {
	 max-width: 100%;
	 height: auto;
	 margin-bottom: 20px;
	 align-content: center;
}
   /* CSS styles for footer */
   footer {
   	 background-color: lightcyan;
   	 color: #fff;
   	 padding: 20px;
   	 text-align: center;
   }
   body {
   	background-color:lightpink;
   }

/* CSS Styles */

 .social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 .social-icons li {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between icons*/
 }
 .social-icons li: last-child {
    margin-right: 0; /* Remove margin from last icon */
 }
 .social-icons a {
    color: #333; /* Change icon color */
    font-size: 20px; /* Adjust icon size */
    text-decoration: none;
 }
 .social-icons a:hover {
    color: #007bff; /* Change icon color on hover */
 }

</style>  	